<lib-navbar></lib-navbar>
<div
     class="bg-image"
     style="
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTe9gKvUnqOEsdy2RuuCZrzIf9ulniLGlHWgw&usqp=CAU');
            height: 300px;
            "
     >
  <div class="mask"></div>
</div>

<!-- Background image -->

<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-10">
      <div class="card text-center mb-5" style="margin-top: -180px">
        <div class="card-body p-5">
          <h1 class="mb-4">Are you ready for an adventure?</h1>
          <p class="mb-4 text-muted">
            Uwaga! Przeczytanie niniejszych opisów może zakończyć się niekontrolowanym kupnem biletu w podróż marzeń
          </p>
          <button type="button" class="btn btn-primary btn-rounded me-2" [routerLink]="['/travel']"routerLinkActive="router-link-active">
            Just GO!
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-body p-5">
          <!-- Section: Design block -->
          <section>
            <p>
              TUTAJ BĘDZIE MNÓWSTWO INSPIRACJI (JAK TYLKO ZNAJDĘ CHWILĘ CZASU)
            </p>

            <p>MIEJSCE NA WIĘCEJ INSPIRACJI...</p>

            <p><strong>
              “Podstawą szczęścia jest wolność, a podstawą wolności jest odwaga.”
            </strong></p>

            <img
                 src="https://scontent.fbhx1-1.fna.fbcdn.net/v/t1.6435-9/55619251_2302137259830364_5912967886850228224_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=aZNP03AOGB0AX9SLcK-&_nc_ht=scontent.fbhx1-1.fna&oh=00_AT9z-iDzenxKzM8ev9ClCWCcD-AC_NKWRlI5nCMhPa2FhQ&oe=62CF7AE6"
                 class="img-fluid shadow-5 rounded-4 mb-3"
                 alt=""
                 />

            <ul>
              <li>Tu</li>
              <li>Będzie</li>
              <li>Lista</li>
              <li>Miejsc</li>
              <li>Które</li>
              <li>Odwiedziłam</li>
            </ul>
          </section>
          <!-- Section: Design block -->
        </div>
      </div>
    </div>
  </div>
</div>